/*...Font-size*/
/*Font-way*/
/*color*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
}

body {
  position: relative;
}

header.sticky {
  background-color: #fff;
  box-shadow: -1px 7px 7px -6px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: -1px 7px 7px -6px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: -1px 7px 7px -6px rgba(0, 0, 0, 0.52);
  opacity: 0.9;
  height: 80px;
  padding: 0;
  transition: all 1s;
}
header.sticky .logo {
  opacity: 0;
}
header.sticky .navbar {
  padding: 0;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 1s;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .navbar .link {
  margin-right: 40px;
  padding: 20px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  position: relative;
}
header .container .navbar .link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: all 0.5s;
  opacity: 0;
}
header .container .navbar .link:hover {
  color: #b61984;
}
header .container .navbar .link:hover::before {
  opacity: 1;
  transform: scale(1.5, 1.5);
}
header .container .navbar button {
  margin-right: 15px;
  padding: 10px;
  border-radius: 25px;
  background-color: #b61984;
  border: #b61984;
  overflow: hidden;
  transition: all 1s;
}
header .container .navbar button:hover {
  background-color: #fff;
  border: 1px solid #b61984;
  color: #000;
}
header .container .navbar button span {
  font-size: 14px;
  font-weight: 400;
}
header .container .navbar .icon a {
  margin-right: 10px;
  padding: 0;
}
header .container .navbar .icon a i {
  margin-right: auto;
  color: #000;
}
header .container .navbar .icon a i:hover {
  color: #b61984;
}

header .nav-btn {
  display: none;
}
header .nav-mob .nav-close {
  text-align: right;
}
header .nav-mob .nav-close i {
  font-size: 30px;
}
header .nav-mob .navbar-mob {
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  padding: 10px;
  transition: transform linear 0.5s;
}
header .nav-mob .navbar-mob .link {
  margin-right: 40px;
  padding: 20px 0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  position: relative;
}
header .nav-mob .navbar-mob .link::before {
  content: "";
  position: absolute;
  left: 30%;
  bottom: 40%;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: all 0.5s;
  opacity: 0;
}
header .nav-mob .navbar-mob .link:hover {
  color: #b61984;
}
header .nav-mob .navbar-mob .link:hover::before {
  opacity: 1;
  transform: scale(1.5, 1.5);
}
header .nav-mob .navbar-mob button {
  margin-right: 15px;
  padding: 10px;
  border-radius: 25px;
  background-color: #b61984;
  border: #b61984;
  overflow: hidden;
  transition: all 1s;
}
header .nav-mob .navbar-mob button:hover {
  background-color: #fff;
  border: 1px solid #b61984;
  color: #000;
}
header .nav-mob .navbar-mob button span {
  font-size: 14px;
  font-weight: 400;
}
header .nav-mob .navbar-mob .icon a {
  margin-right: 10px;
  padding: 0;
}
header .nav-mob .navbar-mob .icon a i {
  margin-right: auto;
  color: #000;
}
header .nav-mob .navbar-mob .icon a i:hover {
  color: #b61984;
}

@media screen and (max-width: 1199px) {
  header .nav-btn {
    display: block;
    font-size: 40px;
    padding: 10px;
  }
  header .container {
    justify-content: left;
  }
  header .container .logo img {
    width: 60%;
  }
  header .container .navbar {
    display: none;
  }
}
input:checked ~ .nav-mob .navbar-mob {
  transform: translateX(0%);
}

.about .container {
  padding-top: 100px;
}
.about .container .row {
  align-items: center;
}
.about .container .row .main-left p {
  font-size: 20px;
  font-weight: 600;
  color: #b61984;
}
.about .container .row .main-left h1 {
  font-size: 60px;
  font-weight: 700;
}
.about .container .row .main-right img {
  width: 100%;
}
.about .bt_bb_section_top_section_coverage_image {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.about .bt_bb_section_bottom_section_coverage_image {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}

.product .container .row {
  flex-wrap: wrap;
}
.product .container .row .col-xl-3 {
  margin-bottom: 30px;
}
.product .container .row .col-xl-3 .tem1 {
  animation: fadeup 0.5s;
}
.product .container .row .col-xl-3 .tem2 {
  animation: fadeup 1s;
}
.product .container .row .col-xl-3 .tem3 {
  animation: fadeup 1.5s;
}
.product .container .row .col-xl-3 .tem4 {
  animation: fadeup 2s;
}
.product .container .row .col-xl-3 .tem5 {
  animation: fadeup 2.5s;
}
.product .container .row .col-xl-3 .tem6 {
  animation: fadeup 3s;
}
.product .container .row .col-xl-3 .tem7 {
  animation: fadeup 3.5s;
}
.product .container .row .col-xl-3 .tem8 {
  animation: fadeup 4s;
}
.product .container .row .col-xl-3 .item {
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.product .container .row .col-xl-3 .item .thumbnail {
  overflow: hidden;
}
.product .container .row .col-xl-3 .item .thumbnail img {
  width: 100%;
  transition: all 1.5s;
  display: inline-block;
}
.product .container .row .col-xl-3 .item .thumbnail:hover img {
  transform: scale(1.2, 1.2);
}
.product .container .row .col-xl-3 .item .detal {
  text-align: center;
}
.product .container .row .col-xl-3 .item .detal span {
  font-size: 13px;
  font-weight: 600;
  color: #b61984;
}
.product .container .row .col-xl-3 .item .detal h2 {
  font-size: 25px;
  font-weight: 700;
}
.product .container .row .col-xl-3 .item .detal p {
  font-size: 13px;
  color: #000;
}
.product .container .row .col-xl-3 .item:hover {
  box-shadow: 8px 9px 21px -5px rgba(105, 88, 88, 0.75);
  -webkit-box-shadow: 8px 9px 21px -5px rgba(105, 88, 88, 0.75);
  -moz-box-shadow: 8px 9px 21px -5px rgba(105, 88, 88, 0.75);
}
.product .bt_bb_section_bottom_section_coverage_image {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}

@keyframes fadeup {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.course {
  margin-bottom: 0;
}
.course .container .row .item2 {
  padding: 80px;
}
.course .container .row .item2 .form-group {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: -1px 0px 26px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 26px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 26px -5px rgba(0, 0, 0, 0.75);
}
.course .container .row .item2 .form-group .btncontact {
  justify-content: center;
}
.course .container .row .item2 .form-group .btncontact h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}
.course .container .row .item2 .form-group .btncontact .btnName .name {
  display: flex;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
}
.course .container .row .item2 .form-group .btncontact .btnName .name i {
  padding: 10px 5px 0;
  color: #b61984;
}
.course .container .row .item2 .form-group .btncontact .btnName .name .form-control {
  border: 0;
  outline: 0;
}
.course .container .row .item2 .form-group .btncontact .btnEmail .email {
  display: flex;
  border: 1px solid gray;
  border-radius: 15px;
  overflow: hidden;
}
.course .container .row .item2 .form-group .btncontact .btnEmail .email i {
  padding: 10px 5px 0;
  color: #b61984;
}
.course .container .row .item2 .form-group .btncontact .btnEmail .email .form-control {
  border: none;
  outline: none;
}
.course .container .row .item2 .form-group .btnSelect {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
  display: flex;
}
.course .container .row .item2 .form-group .btnSelect i {
  color: #b61984;
}
.course .container .row .item2 .form-group .btnSelect .selected {
  border: none;
  width: 100%;
  outline: 0;
}
.course .container .row .item2 .form-group .messege {
  display: flex;
  border: 1px solid gray;
  border-radius: 15px;
}
.course .container .row .item2 .form-group .messege i {
  padding: 5px 5px 0;
  color: #b61984;
}
.course .container .row .item2 .form-group .messege .text {
  border-radius: 15px;
  border: none;
  outline: none;
  color: #000;
}
.course .container .row .item2 .form-group button {
  margin-right: 15px;
  padding: 10px 40px;
  border-radius: 25px;
  background-color: #b61984;
  border: #b61984;
  overflow: hidden;
  transition: all 1s;
  margin-bottom: 40px;
}
.course .container .row .item2 .form-group button:hover {
  background-color: #fff;
  border: 1px solid #b61984;
  color: #000;
}
.course .bt_bb_section_bottom_section_coverage_image {
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
}

.footer {
  margin-top: 0%;
  background-image: url(../img/footer_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
.footer .container .main-footer .row .col-xl-3 .iteam1 {
  animation: fadeup 0.5s;
}
.footer .container .main-footer .row .col-xl-3 .iteam2 {
  animation: fadeup 1s;
}
.footer .container .main-footer .row .col-xl-3 .iteam3 {
  animation: fadeup 1.5s;
}
.footer .container .main-footer .row .col-xl-3 .iteam4 {
  animation: fadeup 2s;
}
.footer .container .main-footer .row .iteam1 h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer .container .main-footer .row .iteam1 span {
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}
.footer .container .main-footer .row .iteam1 i {
  color: #fff;
}
.footer .container .main-footer .row .iteam1 .icon a {
  margin-right: 10px;
}
.footer .container .main-footer .row .iteam1 .icon a i {
  color: #fff;
}
.footer .container .main-footer .row .iteam1 .icon a i:hover {
  color: #000;
}
.footer .container .main-footer .row .iteam2 h2, .footer .container .main-footer .row .iteam3 h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer .container .main-footer .row .iteam2 ul, .footer .container .main-footer .row .iteam3 ul {
  list-style: none;
}
.footer .container .main-footer .row .iteam2 ul li, .footer .container .main-footer .row .iteam3 ul li {
  width: 30%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.349);
  margin-bottom: 10px;
}
.footer .container .main-footer .row .iteam2 ul li a, .footer .container .main-footer .row .iteam3 ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.footer .container .main-footer .row .iteam4 h2 {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}
.footer .container .main-footer .row .iteam4 .yourEmail input {
  text-align: center;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid gray;
  outline: 0;
}
.footer .container .main-footer .row .iteam4 .yourEmail input::placeholder {
  color: #000;
  font-weight: 600;
}
.footer .container .main-footer .row .iteam4 .subscri {
  text-align: left;
}
.footer .container .main-footer .row .iteam4 .subscri button {
  margin-right: 15px;
  padding: 10px 80px;
  border-radius: 25px;
  background-color: #b61984;
  border: #b61984;
  overflow: hidden;
  transition: all 1s;
}
.footer .container .main-footer .row .iteam4 .subscri button:hover {
  background-color: #fff;
  border: 1px solid #b61984;
  color: #000;
}